body{
font-family:'Segoe UI',sans-serif;
margin:0;
color:white;
position:relative;
min-height:100vh;
overflow-x:hidden;
}
body::before{

content:"";
position:fixed;
top:0;
left:0;
width:100%;
height:100%;

background:url("assets/bg.png") center/cover no-repeat;

filter:blur(8px) brightness(0.5);

z-index:-1;

}
.hero{
text-align:center;
padding:120px 20px;
}

.hero h1{
font-size:48px;
font-weight:700;
}

.section{
padding:80px 0;
}

.glass-card{
background:rgba(255,255,255,0.1);
backdrop-filter:blur(14px);
border-radius:15px;
padding:25px;
border:1px solid rgba(255,255,255,0.2);
transition:0.3s;
}

.glass-card:hover{
transform:translateY(-5px);
box-shadow:0 10px 25px rgba(0,0,0,0.4);
}

.skill-card{
text-align:center;
}
.skills-masonry{
column-count:4;
column-gap:20px;
}

.skill-item{
break-inside:avoid;
margin-bottom:20px;
}

@media (max-width:1200px){
.skills-masonry{
column-count:3;
}
}

@media (max-width:768px){
.skills-masonry{
column-count:2;
}
}

@media (max-width:500px){
.skills-masonry{
column-count:1;
}
}

.project-card{
min-height:220px;
}

.badge-tech{
background:#2563eb;
margin:3px;
}

.timeline{
border-left:2px solid rgba(255,255,255,0.2);
padding-left:20px;
}

.timeline-item{
margin-bottom:30px;
}

iframe{
border:none;
border-radius:10px;
}

.contact-grid{
display:grid;
grid-template-columns:repeat(4,80px);
gap:25px;
justify-content:center;
}

.contact-grid a{
font-size:40px;
color:white;
display:flex;
align-items:center;
justify-content:center;
width:80px;
height:80px;
border-radius:14px;
background:rgba(255,255,255,0.08);
transition:0.3s;
}

.contact-grid a:hover{
background:rgba(255,255,255,0.18);
transform:translateY(-4px);
color:#60a5fa;
}

footer{
text-align:center;
padding:30px;
background:#020617;
}
/* CHAT BUTTON */

#chat-button{
position:fixed;
bottom:25px;
right:25px;
width:60px;
height:60px;
background:#2563eb;
color:white;
font-size:26px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
cursor:pointer;
box-shadow:0 8px 20px rgba(0,0,0,0.3);
z-index:9999;
}

/* CHAT WINDOW */

#chat-window{
position:fixed;
bottom:100px;
right:25px;
width:380px;
height:520px;
background:white;
border-radius:12px;
overflow:hidden;
display:none;
box-shadow:0 10px 30px rgba(0,0,0,0.4);
z-index:9999;
}

#chat-window iframe{
width:100%;
height:100%;
border:none;
}

/* CHAT HEADER */

.chat-header{
background:#2563eb;
color:white;
padding:10px;
display:flex;
justify-content:space-between;
align-items:center;
font-size:14px;
}
